<% @posts.each do |post| %>
  <div>
    <%= link_to "show", post_path(post.id) %>
    <%= image_tag post.image, size: "100x100" %>
    <p>投稿ユーザー画像：<%= image_tag '20200809_133600.jpg', size: "48x48" %></p>
    <p>Title：<%= post.title %></p>
    <p>Body：<%= post.body %></p>
    <p>ユーザーネーム：<%= post.user.name %></p>
    <p>投稿日：<%= post.created_at.strftime('%Y/%m/%d') %></p>

  </div>
<% end %>
